<%- include ('./partials/header') %>

<title>Contact Us</title>
<link rel="stylesheet" href="../stylesheets/contact.css">

<section id="contact_us">
    <div class="container">
        <div class="row">
            <div class="col-12">
              <h1 class="title">Contact Us</h1>
            </div>
            <div class="col-lg-6">
              <div class="card-body text">
                <h1 class="card-title">Rupali Kale</h1>
                <p class="card-text"> <i class="fa fa-envelope"><span class="heading"> rupali.kale@sakec.ac.in</span></i></p>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="card-body text">
                <h1 class="card-title">Pratik Bhosale</h1>
                <p class="card-text"> <i class="fa fa-envelope"><span class="heading"> pratik.bhosale@sakec.ac.in</span></i></p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="card-body text">
                <h1 class="card-title">Hardik Bhanushali</h1>
                <p class="card-text"><i class="fa fa-envelope"><span class="heading"> hardik.bhanushali@sakec.ac.in</span></i></p>
              </div>
            </div>
            <div class="col-lg-6 ">
              <div class="card-body text">
                <h1 class="card-title">Harsh Thakkar</h1>
                <p class="card-text"> <i class="fa fa-envelope"><span class="heading"> harsh.thakkar@sakec.ac.in</span></i></p>
              </div>
            </div>
        </div>
      </div>
</section>

<%- include ('./partials/footer') %>