<%- include ('./partials/header') %>

<title>Guide</title>
<link rel="stylesheet" href="../stylesheets/guide.css">
<section>
    <div class="container">
      <div class="row">
        <div class="col-12"><h1 class="text-center">Guide</h1></div>
        <div class="col-lg-6">
          <h2 class="text-center">DO'S <i class="fas fa-check"></i></h2>
          <img src="../images/guide2.jpg" class="image">
          <p>The Algorithm works well with single leaf at a time, So try uploading images with 1 leaf.</p>
        </div>
        <div class="col-lg-6">
            <h2 class="text-center">DON'TS <i class="fas fa-times"></i></h2>
            <img src="../images/guide1.jpg" class="image">
            <p>The Algorithm won't predict accurate results when more leaves in one image, It is good to have one leaf at a time.</p>
        </div>
      </div>
    </div>
</section>
  
<%- include ('./partials/footer') %>