<%- include ('./partials/header') %>

<title>Home</title>
<link rel="stylesheet" href="../stylesheets/home.css">

<section id="picture">
  <div class="container">
    <div class="row mt-5 pt-5">
      <div class="col-12"><h1 class="text-center mt-0 mt-sm-2 mb-4">SELECT A CROP YOU ARE INTERESTED IN</h1></div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/apple.jpg">
            <a class="btn btn-success" href="/crop/apple" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Apple</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/blueberry.jpg">
            <a class="btn btn-success" href="/crop/blueberry" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Blueberry</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/cherry.jpg">
            <a class="btn btn-success" href="/crop/cherry" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Cherry</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/maize.jpg">
            <a class="btn btn-success" href="/crop/corn" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Corn</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/grape.jpg">
            <a class="btn btn-success" href="/crop/grape" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Grape</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/orange.jpg">
            <a class="btn btn-success" href="/crop/orange" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Orange</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/peach.jpg">
            <a class="btn btn-success" href="/crop/peach" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Peach</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/pepperbell.jpg">
            <a class="btn btn-success" href="/crop/pepper_bell" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Pepper Bell</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/potato.jpg">
            <a class="btn btn-success" href="/crop/potato" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Potato</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/raspberry.jpg">
            <a class="btn btn-success" href="/crop/raspberry" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Raspberry</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/soybean.jpg">
            <a class="btn btn-success" href="/crop/soybean" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Soybean</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/squash.jpg">
            <a class="btn btn-success" href="/crop/squash" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Squash</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/strawberry.jpg">
            <a class="btn btn-success" href="/crop/strawberry" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Strawberry</h5>
      </div>
      <div class="col-6 col-md-4 col-lg-3">
        <div class="cont">
            <img class="mem" src="../images/tomato.jpg">
            <a class="btn btn-success" href="/crop/tomato" style="font-size: 25px;">SELECT</a>
        </div>
        <h5 class="text-center">Tomato</h5>
      </div>
    </div>
  </div>
</section> 

<%- include ('./partials/footer') %>
