html,body{
    background-color: #336666 !important;
}

#contact_us .title{
    font-family: 'Lilita One', cursive;
    margin-top: 110px !important;
    margin-bottom: 20px !important;
    color: #fff;
    text-align: center;
}

#contact_us .text i{
    font-size: 1.5rem;
    color: rgb(75, 68, 68);
    padding-bottom: 10px;
}

#contact_us .card-body
{
    height: 210px;
    width: 90%;
    margin: 20px auto;
    background:#e3f2fd;
    color: #333;
    border-radius: 5px;
    text-align: center;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.04);
    transition: transform .5s ease;
} 

#contact_us .card-body:hover{
    transform: scale(1.01);
    background:#e3f2ff;
}

#contact_us .card-title
{
    padding-top: 35px;
} 


@media(max-width: 576px){
    #contact_us .title{
        margin-top:90px !important;
        font-size: 2.7rem;
    }
    
    #contact_us .text i{
        font-size: 1.1rem;
    }
    
    #contact_us .card-body
    {
        height: 140px;
        width: 100%;
        margin: 10px auto;
    } 
    
    #contact_us .card-title
    {
        padding-top: 15px;
        font-size: 2rem !important;
    } 

    #contact_us .heading
    {
        font-size: 1.1rem !important;
    } 
}